[submodule "spring/springboot"]
	path = spring/springboot
	url = ./spring/springboot
[submodule "mybatis"]
	path = mybatis
	url = git@github.com:wxz6289/mybatis.git
[submodule "base"]
	path = base
	url = git@github.com:wxz6289/base.git
[submodule "browser"]
	path = browser
	url = git@github.com:wxz6289/browser.git
